@font-face {
   font-family: '._CoreSansG-Heavy';
   font-display: swap;
   src: url('file:///C:/Users/user/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-03_162117/fonts/._CoreSansG-Heavy/font.ttf');
}
